{% extends 'base.html' %}

{% block content %}
  <section class="py-10 px-4">
    <h1 class="text-center text-green-700 text-3xl font-bold">About Us</h1>
    <div>
      <p class="text-center text-gray-700 text-lg my-10">
        Welcome to <span class="text-orange-500 font-bold">प्राकृतिक आरोग्य</span> Food Products, where health meets tradition. <br />We are dedicated to providing nutritious, hygienic, and authentic Nepali <br /> foods crafted from nature’s finest ingredients. <span class="text-green-700 font-bold">Certified by the Government of Nepal,</span> <br /> Our leading product, <span class="text-green-700 font-bold">Sattu</span> <br /> along with a range of wholesome snacks, offers a healthy alternative to <br /> processed foods. Driven by our motto, "<span class="text-orange-500 font-bold">स्वास्थ्यको सुरुवात, प्राकृतिक स्वादको साथ</span>", <br /> we ensure each product supports wellness and brings the taste of natural <br /> goodness to your table. <span class="text-green-700 font-bold">Join us on our journey toward a healthier lifestyle,</span> <br />inspired by Nepal's rich heritage and pure, local flavors.
      </p>
    </div>
  </section>
{% endblock %}
